/* your styles go here */
.error {
    width: 50%;
    position: absolute;
    top: 15px;
    right: 30px;
    background-color: rgba(243, 144, 144, 0.435);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: show-error 5s forwards;
    z-index: -1;
}
@keyframes show-error {
    0% {
        opacity: 0;
        right: -50px;
    }
    10% {
        opacity: 1;
        right: 30px;
        z-index: 99;
    }
    90% {
        opacity: 1;
        right: 30px;
        z-index: 99;
    }
    100% {
        opacity: 0;
        right: -50px;
        z-index: -1;
    }
}
.user-block {
    transition: 0.4s;
    cursor: pointer;
}
.user-block:hover {
    transform: scale(1.05);
}
.order .item .status {
    padding: 7px 12px;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
}
.order .item .delivered {
    background: green;
}
.order .item .in-process {
    background-color: orange;
}
