/* #A27035
    var(--brown-1)
    var(--dark)
    var(--brown-2)
    var(--brown-3) */
/* color declaration */

:root {
  --dark: #242331;
  --light: #e7ddb4;
  --brown-1: #533e2d;
  --brown-2: #b88b4a;
  --brown-3: #ddca7d;
}

/* general style */
* {
  color: var(--brown-3);
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

.bg-img1 {
  background-image: url("./assets/bg1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-login {
  background-image: url("./assets/bg-login.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* -------------------------------------------------utility clases-------------------------------------------- */
.brown1 {
  color: var(--brown-1);
}

.brown2 {
  color: var(--brown-2);
}
.brown3 {
  color: var(--brown-3);
}
.hover-dark:hover {
  color: var(--dark);
}
.hover-light:hover {
  color: var(--brown-3);
}
.brown3 {
  color: var(--brown-2);
}

.dark {
  color: var(--dark);
}
.light1 {
  color: var(--light);
}
.bgbrown1 {
  background: #533e2d9c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.bgbrown2 {
  background: #b88a4a7c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.bglight {
  background: rgba(231, 221, 180, 0.308);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.bgdark {
  background: rgba(36, 35, 49, 0.658);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.bottom50 {
  bottom: 55px;
}
.cursive {
  font-family: cursive;
}

.pointer {
  cursor: pointer;
}
.h55 {
  height: 55px;
}
.transition-1 {
  transition: 0.4s ease-in;
}
.transition-2 {
  transition: 0.3s;
}
.round-50 {
  border-radius: 50%;
}

/* ------------------------styling components======================== */

/* -------------sidebar------------------------- */
.sidebar {
  width: 280px;
  top: 0;
}
.sidebar .link {
  text-decoration: none;
  transition: 0.2s;
  width: 100%;
}
.sidebar .link .mrk {
  position: absolute;
  right: 15px;
}
.colapse {
  width: 82px;
}
.fa-bars {
  position: relative;
  left: 10px;
}

/* -------------------------------styling the main component------------------------------------ */
.main {
  padding-top: 120px;
  padding-left: 10px;
  right: 180px;
}
.nav {
  justify-content: end;
}
/* ------------------------------login--------------------------------------------------------- */
.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.form-login-img {
  min-width: 100px;
  min-height: 100px;
}
.label-bakery {
  font-size: 13px;
  font-weight: 500;
  color: var(--brown-1);
}
.form-control-bakery {
  background-color: #ddca7d59;
  border-color: var(--brown-2);
  font-size: 15px;
}
.form-control-bakery:focus {
  background-color: #ddca7d59;
  border-color: var(--brown-2);
  box-shadow: #533e2d 2px 5px 1px;
}
.btn-bakery {
  background-color: #533e2d;
  color: #ddca7d;
  text-decoration: none;
}
.btn-bakery:hover {
  background-color: var(--brown-2);
}
.errors-login {
  right: 25px;
  top: 10px;
}
.alert-danger {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(248, 3, 3, 0.315);
  animation: show-notif 0.2s ease;
  font-size: 15px;
}
/* ====================== employee ============================== */
.addempbtn {
  position: absolute;
  top: 70px;
  right: 10px;
}
.emp-card {
  width: 290px;
}
.morebtn {
  position: relative;
  top: 200px;
  right: 100px;
}
@keyframes show-notif {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
@media screen and (max-width: 960px) {
  .errors-login {
    min-width: 50%;
  }
}
/* nav responsiveness */
@media screen and (max-width: 960px) {
  .nav {
    justify-content: center;
    gap: 30px;
  }
  .nav .nav-content {
    gap: 30px;
    width: 100%;
  }
}
