/* #A27035
    var(--brown-1)
    var(--dark)
    var(--brown-2)
    var(--brown-3) */
/* color declaration */

:root {
  --dark: #242331;
  --light: #e7ddb4;
  --brown-1: #533e2d;
  --brown-2: #b88b4a;
  --brown-3: #ddca7d;
}

/* general style */
* {
  color: var(--brown-3);
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
}
.bg-img1 {
  background-image: url("./assets/bg1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* -------------------------------------------------utility clases-------------------------------------------- */
.brown1 {
  color: var(--brown-1);
}

.brown2 {
  color: var(--brown-2);
}
.brown3 {
  color: var(--brown-3);
}
.hover-dark:hover {
  color: var(--dark);
}
.hover-light:hover {
  color: var(--brown-3);
}
.brown3 {
  color: var(--brown-2);
}

.dark {
  color: var(--dark);
}
.light1 {
  color: var(--light);
}
.bglight {
  background: rgba(231, 221, 180, 0.637); /* Transparent version of #e7ddb4 */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Support for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.bgdark {
  background: rgba(36, 35, 49, 0.534);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.bottom50 {
  bottom: 55px;
}
.cursive {
  font-family: cursive;
}

.pointer {
  cursor: pointer;
}
.h55 {
  height: 55px;
}
.transition-1 {
  transition: 0.4s ease-in;
}
.transition-2 {
  transition: 0.3s;
}

/* ------------------------styling components======================== */

/* -------------sidebar------------------------- */
.sidebar {
  width: 20vw;
  top: 0;
}
.sidebar .link {
  text-decoration: none;
  transition: 0.2s;
  width: 100%;
}
.sidebar .link .mrk {
  position: absolute;
  right: 15px;
}
.colapse {
  width: 82px;
}
.fa-bars {
  position: relative;
  left: 10px;
}

/* -------------------------------styling the main component------------------------------------ */
.main {
  padding-top: 80px;
  padding-left: 10px;
}
